@tailwind base;
@tailwind components;
@tailwind utilities;

.background-svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.background-glow {
  filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.7));
}

